%h2 Sign Up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  %div
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true

  %div
    = f.label :password
    %br/
    = f.password_field :password

  %div
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation

  %div
    = f.label :roles
    - unless no_users?
      - for role in User::ROLES
        = check_box_tag "user[roles][]", role, @user.roles.include?(role)
        = h role.to_s.humanize
    - else # initial user gets all roles
      - for role in User::ROLES
        = check_box_tag "user[roles][]", role, true, disabled: true
        = h role.to_s.humanize
    = hidden_field_tag "user[roles][]"
    %br/

  %div
    = f.submit "Sign up"

  = render "devise/shared/links"
